         body{
               margin:0;
               padding: 0;
               background-color: #BC8F8F;  
            }

          .back-red{
               background: #F08080;
               margin-top: 40px;
               margin-left: 30%;
               margin-right: 30%;
               padding-top: 10px;
               border-radius: 15px;
               font-family:  "Lucida Console", Courier, monospace;
               font-size: 20px;
               text-align: center;
            }

            #heading-text{
               text-align: center;
               font-size: 40px;
               color: #FDF5E6;
               margin-left:20%;
               margin-right: 20%;
            }

            .video-area{
                margin-left: 30%;
                margin-right: 30%;
            }

            #heading-description{
               color: #FDF5E6;
               font-size: 25px;
               text-align: center;
               margin-left:20%;
               margin-right: 20%; 
            }

            .red-text{
               font-family: 'Raleway', sans-serif; 
               color: #DC143C;
               font-size: 40px;
               font-weight: bold;
               text-align: center;
            }

            .btn{
               background-color: #FFFF00;
               border:none;
               color: black;
               padding:15px 30px;
               text-align: center;
               display: inline-block;
               font-size: 16px;
               margin-left: 200px;
               margin-right: 100px;
            }

            #bg-white{
               width: 1335px; 
               margin-left: -400px;
               background-color: #FFFAF0;
               text-align: center;
            }

            
            #p1{
               color:#FF6347;
               font-size: 40px;
               font-weight: bold;
               margin-left: 5%;
               margin-right: 5%;
            }

           

            .t1{
               margin-left: 0px;
               margin-right: 0;
               display: table;
               width:100%;
               height: auto;
            }

            .t2{
               
               margin-left:0px;
               margin-right: 0;
               display: table;
               width:100%;
               height: auto; 
            }

            ul{
               display: table-row;
            }

            li{
               display: table-cell;
               margin: 20px;
            }

            iframe{
               float: left;
               display: block;
               margin-top:20px;
               margin-left: 20px;
               margin-bottom: 20px;
               margin-right: 20px;
            } 

            li img{
               margin:40px;
            }

            .image-set{
               width:1180px;
               height: 1200px;
               margin-left: -300px;
               margin-right: -200px;
               background-color: white;
            }

            .image-set1, .image-set2{
               margin-left: 0px;
               margin-right: 0;
            }


            #bg-change{
               background-color: white;
            }

            #white-bg{
               width: 1180px;
               height: 600px;
               margin-left: -300px;
               background-color: white;
            }

            #p2{
               padding-top: 50px;
               padding-left: 30px;
               padding-right: 30px;
               font-family: 'Roboto', sans-serif;
               font-size: 25px;
               font-weight: 20px;
            }

            .section2-wrap{
              width: 1340px;
              height: 1900px;
              background-color: #DC143C; 
              color: #FFFFE0;
              margin-left: -400px;
            }
           

            #p3{
               margin-top: 30px;
               margin-left: 40px;
               margin-right: 80px;
               font-size: 25px;
            }

            .div1-group{
               display: inline-block;
            }

            .div2-group{
               display: inline-block;
               margin-top: 200px;
               margin-right: 20px;
               margin-left: 20px;
            }

            .div3-group{
               display: inline-block;
               margin-top: 100px;
               margin-left: 20px;
            }

            #h1{
               text-align: center;
               font-size: 50px;
            }

            .section3-wrap{
               margin-top: 150px;
               background-color: #E0FFFF;
               height: 2250px;
               padding-top: 50px;
               padding-left: 100px;
               padding-right: 100px;
               color:black;
               font-family: 'Comfortaa', cursive;
            }

            .div4-group{
               display: inline-block;
               margin-left: 20px;
               margin-right: 0px;
            }
           
            #d4{
               background-color: white;
               width: 600px;
               height: 400px;
               margin-top: -525px;
               margin-left:550px;
            }

            #p4{
               padding-top: 20px;
               padding-left: 30px;
               padding-right: 30px;
               line-height: 1.4em;
            }

            #heading2{
               padding-top: 20px;
            }

            #heading3{
               font-family: 'Comfortaa', cursive;
               font-size: 20px;
               margin-top: 0px;

            }


            .div5-group{
               margin-top: 100px;
               display: inline-block;
            }

            #heading4{
               text-align: center;
               margin-top: 100px;
               padding-left: 20px;
               padding-right: 20px;
            }

            #d5{
               margin-top: 40px;
               line-height: 1.3em;
            }

            .div6-group{
               display: inline-block;
            }

            .section4-wrap{
               width:1340px;
               height:880px;
               margin-top:-60px;
               background-image: linear-gradient(to top right, cyan , green, yellow);
            }

            

            #heading5{
               margin-top: 20px;
               text-align: center;
               font-size: 80px;
            }

            .section5-wrap{
               margin-top: -35px;
               width:1340px;
               height: 1000px;
               background-color: white;
            }

            
            #heading6{
               padding-top: 60px;
               text-align: center;
               font-size: 40px;
               color:black;
               font-size: 50px;
            }

            .p5{
                padding-top: 20px;
                padding-left: 120px;
                line-height: 1.5em;
                font-size: 20px;
                font-family: 'Quicksand', sans-serif;
                color: black;
            }

            #heading7{
               color: black;
               font-family: 'Quicksand', sans-serif;
               padding-top: 10px;
               padding-left: 120px;
               font-size: 20px;
            }

            #list2{
               list-style-type: circle;
               color:black;
               font-family: 'Quicksand', sans-serif;
               padding-top: 10px;
               padding-left: 120px;
               line-height: 1.5em;
               font-size: 20px;
            }

            .div7-group{
               display: inline-block;
            }

            #heading8{
               color:black;
               padding-top: 30px;
               text-align: center;
               font-size: 40px;
            }

            #heading9{
               color:black;
               text-decoration: line-through;
               font-size: 30px;
               text-align: center;
            }

            #heading10{
               color: black;
               font-size: 30px;
               text-align: center;
            }

            .section6-wrap{
               background-image: linear-gradient(to right, mediumslateblue,gray);
               width:1340px;
               height:1800px;
            }

            #heading11{
               color:white;
               margin-top: -10px;
               padding-top: 40px;
               text-align: center;
               font-size: 40px;
               font-family: 'Quicksand', sans-serif;
            }

            .round-image1{
               border-radius: 50%;
               margin-left: 42%;

            }

            .d8-textbox{
                width:500px;
                height:380px;
                background-color: white;
                margin-left: 8%;
                margin-top: -72px; 
            }

            .hr1{
              border-top: 1px solid #808080;
              width:200px;
            }

            .hr2{
              border-top: 1px solid #808080;
              width:200px;
            }

            #p6{
               color: #708090;
               padding-top: 10px;
               padding-left: 25px;
               font-size: 20px;
               text-align: center;
            }

            .p7{
               font-family: 'Quicksand', sans-serif;
               text-align: center;
               color: #708090;
               padding-left: 170px;
               font-weight: bold;
            }

            .p8{
               font-family: 'Quicksand', sans-serif;
               text-align: center;
               padding-left: 30px;
               color:#F08080;
               font-weight: bold;
            }
             
            .d8-end{
               display: inline-block;
            }

            .div8-group{
               display: inline-block;
               padding-left: 60px;
               padding-right: 30px;
               margin-top: 50px;
            }

            .round-image2{
               border-radius: 50%;
               margin-left: 42%;
               width:140px;
            }

            .round-image3{
               border-radius: 50%;
               margin-left: 42%;
               width:150px;
            }

            .section7-wrap{
               width:1344px;
               height: 780px;
               background-color: #1E90FF;
               margin-top: -35px;
            }

            #heading12{
               text-align: center;
               font-family: 'Quicksand', sans-serif;
               line-height: 1.5em;
               font-size: 40px;
               font-weight: bold;
               padding-top: 20px;
            }

            .div9-group{
               display: inline-block;
               padding-left: 10px;
            }

            .div10-group{
               display: inline-block;
               padding-left: 10px;
            }

            .section8-wrap{
               width:1340px;
               height:600px;
               background-color: white;
            }

            .div11-group{
               display: inline-block;
            }

            #heading13{
               font-family: 'Roboto', sans-serif;
               font-size: 40px;
               font-weight: bold;
               color:black;
               margin-top: -50px;
            }

            #p9{
               color: #A9A9A9;
               font-size: 20px;
            }

            .section9-wrap{
               width:1340px;
               height:900px;
               margin-top: -40px;
               background-image: linear-gradient(to top right, green, blueviolet);
            }

            #heading14{
              padding-top: 40px;
              padding-left: 25%;
              font-family: 'Roboto', sans-serif;
              color:#FFD700;
              font-size:50px;
              font-weight: 2000px;
            }
  
            .d9{
               width:800px;
               height:600px;
               background-color: white;
               border-radius: 20px;
               margin-left: 23%;
            }

            #heading15{
               color: black;
               font-size: 40px;
               font-weight: bold;
               font-family: 'Quicksand', sans-serif;
               text-align: center;
               padding-top: 20px;
            }

            #p10{
               margin-left: 30px;
               padding-left: 30px;
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               color: black;
               font-weight: 200px;
            }

            .section10-wrap{
               width:1340px;
               height:800px;
               margin-top: -35px;
               background-color: #DCDCDC;
            }

            #heading16{
               padding-top: 80px;
               font-family: 'Quicksand', sans-serif;
               text-align: center;
               font-size:40px;
               color: black;
               font-weight: 200px;
            }

            #p11{
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               line-height: 1.2em;
               color: black;
               padding-top: 20px;
            }

            .div12-group{
               display: inline-block;
            }

            .section11-wrap{
               width: 1340px;
               height: 1800px;
               margin-top:-30px;
               background-color: white;
            }
           
            #heading17{
               text-align: center;
               font-size: 40px;
               font-family: 'Roboto', sans-serif;
               padding-top: 100px;
               color:black;
               font-weight: bold;
            }

            .div13-group{
               display: inline-block;
            }


            #p12{
               font-family: 'Roboto', sans-serif;
               font-size: 24px;
               padding-top: 30px;
               padding-left: 50px;
               padding-bottom: 30px; 
               color: black; 
            }

            #heading18{
               text-align: center;
               font-size:60px;
               padding-top: 180px;
               color: black;
               font-weight: bold;
            }

            #p13{
               font-family: 'Roboto', sans-serif;
               font-size: 16px;
               padding-top: 10px;
               padding-left: 10px;
               padding-bottom: 20px; 
               color: black; 
            }

            .div14-group{
               display: inline-block;
               margin-left: 30px;
               margin-top: -10px;
            }

            .d10{
               width:900px;
               height: 150px;
               border-radius: 70px;
               background-color: #DCDCDC;
               margin-left: 15%;
               margin-top: 80px;
            }

            #p14{
               color: black;
               font-family:'Quicksand', sans-serif;
               font-size:20px; 
               padding-left: 60px;
               padding-top: 20px;
            }

            .section12-wrap{
               width: 1340px;
               height:1600px;
               margin-top: -40px;
               background-color: #483D8B;
            }

            #heading19{
               text-align: center;
               color: white;
               font-size:50px;
               padding-top: 50px;
               font-family: 'Rubik', sans-serif;
            }

            #heading20{
               text-align: center;
               color: white;
               font-size:30px;
               padding-top: 20px;
               font-family:  'Quicksand', sans-serif;
            }

            #heading21{
               color: #F0E68C;
               font-size:30px;
               padding-top: -20px;
               padding-left: 20px;
               font-family: 'Rubik', sans-serif;
            }

            #p15{
               color:white;
               font-family:'Quicksand', sans-serif;
               font-size:20px;
               padding-top: 20px;
               padding-left: 20px;
               margin-top: -20px;
               line-height: 1.3em;

            }


            .div15-group{
               display: inline-block;
               padding-left: 100px;

            }


            .section13-wrap{
               width: 1340px;
               height: 1500px;
               margin-top: -30px;
               background-color: white;
            }

            #heading22{
               padding-top: 100px;
               color: black;
               font-family: 'Rubik', sans-serif;

               text-align: center;
               font-size: 40px;
            }

            #heading23{
               font-family:'Quicksand', sans-serif;
               color: black;
               font-size: 20px;
            } 

            .div16-group{
               display: inline-block;
               padding: 70px;
            }

            .div17-group{
               display: inline-block;
               padding: 70px;
            }

            .section14-wrap{
               width: 1340px;
               height: 1200px;
               margin-top: -30px;
               background-image: linear-gradient(to top right, royalblue, navy);
            }

            #heading24{
               padding: 50px;
               font-family: 'Rubik', sans-serif;
               text-align: center;
               color:white;
            }

            #heading25{
               padding: 50px;
               font-family: 'Rubik', sans-serif;
               text-align: center;
               color:#DC143C;
               font-size: 50px;
               margin-top: 25px;
               padding-bottom: 15px;
            }

            #btn1{
               width: 300px;
               height: 80px;
               background-color: #FFD700;
               border-radius: 40px;
               margin-left: 42%;
            }

            .section15-wrap{
                  width: 1340px;
                  height: 2000px;
                  background-color: white;
            }

            .div18-group{
               display: inline-block;
               margin-left: 50px;
               margin-top: 50px;
            }

            #heading26{
               color: black;
               font-family: 'Rubik', sans-serif;
               font-size: 25px;
               margin-left: 20px;
            }

            #p16{
               color: black;
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
            }

            .div19-group{
               display: inline-block;
               margin-top: 200px;
               margin-left: 80px;
            }

            .div20-group{
               display:inline-block;
               margin-top:100px;
               margin-left: 60px;
            }

            .div21-group{
               display: inline-block;
            }

            .section16-wrap{
               width: 1340px;
               height: 800px;
               margin-top: -30px;
               background-image: linear-gradient(to top right, deepskyblue,   chartreuse);
            }

            #heading27{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               text-align: center;
               color: black;
               padding-top: 50px;
               line-height: 1.5em;
            }

            #p17{
               color: black;
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               padding-left: 60px;
            }

            .section17-wrap{
                  width:1340px;
                  height:1800px;
                  margin-top: -30px;
                  background-color: #483D8B;
            }

            #heading28{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               text-align: center;
               color: white;
               padding-top: 50px;
               line-height: 1.5em;
            }


            .round-image4{
               border-radius: 50%;
               width:200px;
               margin-left: 43%;
               margin-top: 20px;

            }

            .d11-textbox{
               width: 600px;
               height: 870px;
               background-color: white;
               margin-left: 28%;
               margin-top: -100px;
            }

            #p18{
               font-family: 'Quicksand', sans-serif;
               font-size: 18px;
               color: #696969;
               padding-left: 20px;
               padding-right: 20px;
               padding-top: 20px;
               font-weight: bold;
            }

            .hr3{
              border-top: 1px solid #808080;
              width:400px;
            }

            .section18-wrap{
               width: 1340px;
               height: 3300px;
               margin-top: -30px;
               background-color:white;
            }

            #heading29{
               font-family: 'Rubik', sans-serif;
               font-size: 40px;
               padding-top: 60px;
               text-align: center;
               color: black;
               line-height: 1.5em;
            }

            #p19{
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               color:black;
               margin-top: -60%;
               line-height: 1.3em;
            }

            .div22-group{
               display: inline-block;
               padding-left: 40px;  
            }

            #heading30{
               font-family: 'Rubik', sans-serif;
               font-size: 50px;
               color: black;
               font-weight: bold;
               text-align: center;
               padding-top: 60px;
            }

            #p20{
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               color:black;
               padding-left: 15%;
               padding-right: 15%;
               line-height: 1.2em;
               font-weight: bold;
            }
            
            #p21{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color:#FA8072;
               padding-left: 30%;
               padding-top: 5%;
               padding-right: 15%;
               font-weight: bold;
            }

            #p22{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color:black;
               padding-left: 25%;
               padding-right: 15%;
               font-weight: bold;
            }

            .div23-group{
               display: inline-block;
            }

            #p23{
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               color:black;
               margin-top: -60%;
               margin-left:70px;
               margin-right: 10px;
               line-height: 1.3em;
            }

            .section19-wrap{
               width: 1340px;
               height:5800px;
               margin-top: -40px;
               background-color: #DCDCDC;
            }

            .div24-group{
               display: inline-block;
               padding-left: 10px;
            }

            #heading31{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color: black;
               font-weight: bold;
               padding-top: 30px;
               margin-left:200px;
               margin-right: 20px; 
            }

            #btn2{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               font-weight: bold;
               background-color: #FF8C00;
               color: black;
               width:300px;
               height:80px;
               border-radius: 40px;
               padding-left: 8px;
               margin-left: 195px;
               margin-top: 50px;
            }

            #p24{
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               color:black;
               padding-left:31%; 

            }

            .div25-group{
               display: inline-block;
            }

            .d12{
               width:1000px;
               height: 700px;
               background-color: #C0C0C0;
               margin-left: 15%;
               margin-top: 100px;
            }

            .div26-group{
               display: inline-block;
            }

            #btn3{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               font-weight: bold;
               background-color: #FF8C00;
               color: black;
               width:300px;
               height:80px;
               border-radius: 40px;
               margin-left: 0px;
               margin-top:100px;
            }

            #heading32{
               color: black;
               font-family: 'Quicksand', sans-serif;
               font-size:30px;
               margin-right: 100px;
               font-weight: bold;
            }

            #heading33{
               color: black;
               font-family: 'Quicksand', sans-serif;
               font-size:30px;
               font-weight: bold;
               text-decoration: line-through;
               margin-right: 100px;
            }

            #p25{
               font-family: 'Quicksand', sans-serif;
               font-size: 25px;
               color:black;
            }

            #btn4{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               font-weight: bold;
               background-color: #FF8C00;
               color: black;
               width:300px;
               height:80px;
               border-radius: 40px;
               margin-top:100px;
               margin-left: 200px;
            }

            #heading34{
               color: black;
               font-family: 'Quicksand', sans-serif;
               font-size:30px;
               margin-right: 100px;
               font-weight: bold;
               margin-left: 200px;
            }

            #p26{
               font-family: 'Quicksand', sans-serif;
               font-size: 20px;
               color:black;
               margin-left: 200px;
            }

            .div27-group{
               display: inline-block;
            }

            #heading34{
               font-family: 'Quicksand', sans-serif;
               font-size:40px;
               font-weight: bold;
               margin-top: 40px;
            }


            #btn5{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               font-weight: bold;
               background-color: #FF8C00;
               color: black;
               width:300px;
               height:80px;
               border-radius: 40px;
               margin-top:50px;
            }

            #heading35{
               font-family: 'Quicksand', sans-serif;
               font-size:40px;
               font-weight: bold;
               text-align: center;
               margin-top: 40px;
               color:black;
            }

            #p27{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color:black;
               margin-left: 400px;
            }

            #btn6{
               font-family: 'Rubik', sans-serif;
               font-size: 30px;
               font-weight: bold;
               background-color: #FF8C00;
               color: black;
               width:300px;
               height:80px;
               border-radius: 40px;
               margin-top:20px;
               margin-left: 37%;
            }

            #p28{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color:black;
               margin-left:25%;
               margin-right:25%;
               text-align: center;
            }

            #p29{
               font-family: 'Quicksand', sans-serif;
               font-size: 30px;
               color:black;
               margin-left:38%;
               margin-right:38%;
               text-align: center;
               text-decoration: line-through;
            }

            #heading36{
               font-family: 'Quicksand', sans-serif;
               font-size: 25px;
               color:black;
               margin-left: 30%;
            }

            ol.list3 {
               font-family: 'Rubik', sans-serif;
               font-size: 16px;
               color:black;
               margin-left: 30%; 
            } 

            #heading37{
               font-size: 50px;
               color:black;
               font-weight: bold;
               text-align: center;
               margin-top: 100px;
            }

            #heading38{
               font-family: 'Quicksand', sans-serif;
               font-size: 25px;
               color:black;
               text-decoration: line-through;
               margin-left: 38%;
            }

            #heading39{
               font-family: 'Quicksand', sans-serif;
               font-size: 18px;
               color:black;
               margin-left: 38%;
            }

            .section20-wrap{
               width: 1340px;
               height: 1600px;
               background-image: linear-gradient(to bottom, black, darkblue, darkslateblue);
            }

            .round-image5{
               width:250px;
               height:200px;
               margin-left: 40%;
               margin-top: 10%;
            }

            .d13{
               width:800px;
               height: 700px;
               background-color: #483D8B;
               margin-left:20%;
               margin-top: -100px;
            }

            #heading40{
               font-family: 'Heebo', sans-serif;
               text-align:center;
               padding-top: 10%;
               font-size: 40px;
            }

            #p30{
               font-family: 'Heebo', sans-serif;
               padding-left: 20px;
               padding-right: 20px;
               font-size: 20px;
            }

            .section21-wrap{
               width:1340px;
               height: 800px;
               margin-top: -50px;
               background-color: white;
            }

            #heading41{
               font-family: 'Heebo', sans-serif;
               text-align:center;
               color: black;
               padding-left: 20%;
               padding-right: 20%;
               padding-top: 10%;
               font-size: 40px;
            }

            #p31{
               font-family: 'Roboto', sans-serif;
               color: black;
               padding-top: 10%;
               margin-left: 70px;
               font-size: 20px;
            }

            .div28-group{
               display: inline-block;
            }

            .section22-wrap{
               width: 1340px;
               height: 1200px;
               margin-top: -30px;
               background-color: #DCDCDC;
            }

            #heading42{
               font-family: 'Heebo', sans-serif;
               text-align:center;
               color: black;
               padding-top: 7%;
               padding-left: 15%;
               padding-right: 18%;
               font-size: 40px;
            }

            #heading43{
               font-family: 'Heebo', sans-serif;
               text-align:center;
               color: #FA8072;
               padding-left: 18%;
               padding-right: 18%;
               font-size: 40px;
            }

            #p32{
               font-family:'Quicksand', sans-serif; 
               font-size: 20px;
               padding-left:30%;
               padding-right:10%;
               color: black;
               font-weight: bold;
            }

            #p33{
               font-family:'Quicksand', sans-serif; 
               font-size: 20px;
               padding-left:10%;
               padding-right:10%;
               color: black;
               text-align: right;
               font-weight: bold;
            }

            .div29-group{
               display: inline-block;
               margin-top: 80px;
            }

            #p34{
               font-family: 'Roboto', sans-serif;
               font-size:20px;
               padding-left: 20%;
               padding-right: 20%;
               text-align: center;
               color: black;
            }

            .section23-wrap{
               width: 1340px;
               height:800px;
               margin-top: -30px;
               background-image: linear-gradient(to top right, deepskyblue, chartreuse);
            }

            #heading44{
               font-family: 'Heebo', sans-serif;
               font-size: 40px;
               color:black;
               text-align: center;
               padding-left: 21%;
               padding-right: 20%;
               padding-top: 7%;
            }
            
            #p35{
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               color: black;
               padding-left: 140px;
               
            }

            .div30-group{
               display: inline-block;
            }

            .section24-wrap{
               width: 1340px;
               height: 2800px;
               margin-top: -30px;
               background-color: #DCDCDC;
            }

            #p36{
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               color: black;
               padding-left: 40px;
            }

            .div31-group{
               display: inline-block;
            }

            #p37{
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               color: black;
               padding-left: 20%;
               padding-right: 20%;
            }
               

            .d14{
               width:540px;
               height: 230px;
               border-radius: 10px;
               margin-left: 90px;
               background-color: #C0C0C0;
            }

            .div32-group{
               display: inline-block;
            }

            .round-image6{
               width:70px;
               height: 70px;
               border-radius: 50%;
               border:6px solid #C0C0C0;
               margin-left: -27px;
               margin-top:180px;
            }

            .quotes{
               width:50px;
               height: 50px;
               margin-bottom: 200px;
               margin-right: 90px;
            }

            #p38{
               font-family: 'Comfortaa', cursive;
               font-size: 16px;
               padding-left: 40px;
               padding-right: 10px;
               color: black;
               margin-top: -180px;
            }

            #heading45{
               font-family: 'Heebo', sans-serif;
               font-size: 25px;
               color:black;
               text-align: center;
               padding-left: 30%;
               padding-right: 30%;
               padding-top: 10%;
            }

            #heading46{
               font-size:25px;
               color: black;
               padding-left: 25%;
               padding-right: 40%;
               padding-top: 5%;
            }

            #p39{
               font-size: 15px;
               padding-left: 25%;
               padding-right: 25%;
               color: black;
               margin-top: 0px; 
               line-height: 1.5em; 
            }

            #p40{
               font-size: 12px;
               padding-left: 22%;
               padding-right: 25%;
               color: #2F4F4F;
               margin-top: 0px; 
               line-height: 1.0em; 
            }

            #p41{
               font-size: 18px;
               text-align:center;
               padding-left: 25%;
               padding-right: 25%;
               color: black;
               margin-top: 0px; 
               line-height: 1.0em; 
            }

            .section25-wrap{
               width:1342px;
               height:100px;
               margin-top: -30px; 
               background-color: #708090;             
            }
   
            #heading47{
               font-size:12px;
               color:white;
               padding-left: 100px;
               padding-top: 2.5%;
            }

            #d15{
               margin-left: 500px;
            }

            .div33-group{
               display: inline-block;
            }